/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes active-theme-pointer {
  
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }

  /* to {
    transform: translateX(0);
  } */
}

@keyframes heart-scale {
  
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks-opacity {
  
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-body {
  transition: fill 0.3s linear;
}

.stage-card__like-icon-button:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--main-color);
}

.stage-card__like-icon-button:active .main-body {
  transition-delay: 0.05s;
  fill: var(--heart-main-body-color);
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.stage-card__like-icon-button:hover .core {
  transition-delay: 0;
  fill: var(--main-color);
}

.stage-card__like-icon-button:active .core {
  transition-delay: 0;
  fill: var(--heart-main-body-color);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-body-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .core {
  transition-delay: 0;
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 2 alternate ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 2 alternate ease-in;
  animation-delay: 0.3s;
}
